/* Colors */
@import "colors.css";

/* Breakpoints */
:root {
  @custom-media --small-mobile (width < 450px);
  @custom-media --mobile (width < 768px);
  @custom-media --tablet (width >= 768px) and (width < 1024px);
  @custom-media --desktop (width >= 1024px) and (width < 1440px);
  @custom-media --large-desktop (width >= 1440px);
}

/* Spacing */
/* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1600,18,1.333,7,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
:root {
  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2344rem + 0.0781vi, 0.3125rem);
  /* Space 2xs: 8px → 9px */
  --space-2xs: clamp(0.5rem, 0.4844rem + 0.0781vi, 0.5625rem);
  /* Space xs: 12px → 14px */
  --space-xs: clamp(0.75rem, 0.7188rem + 0.1563vi, 0.875rem);
  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9688rem + 0.1563vi, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4531rem + 0.2344vi, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.9375rem + 0.3125vi, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.9063rem + 0.4688vi, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.875rem + 0.625vi, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.8125rem + 0.9375vi, 6.75rem);
}

:root {
  /* Backgrounds */
  --texture: url(../images/texture.png);

  --checkers: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

  --diagnol: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  --points: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cscript xmlns=''/%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3Cscript xmlns=''/%3E%3C/svg%3E");

  --noise-filter: contrast(1.25) brightness(1.25);

  /* Shadows */
  --shadow: var(--black) 0px 0px 2em -0.625em;
  --shadow-inner: inset 0 0 1em 0.25em var(--black);
  --shadow-text: 0 0 0.25em var(--black);

  /* Borders */
  --line-width: 1px;
  --line-width-lg: 5px;
  --corners: 0.25rem;
  --corners-lg: 1rem;
  --corners-round: 999rem;

  --border: var(--line-width) solid;
  --border-dark: var(--line-width) solid var(--gray-dark);
  --border-light: var(--line-width) solid var(--gray-light);
  --border-color: var(--line-width) solid var(--color);
  --border-highlight: var(--line-width) solid var(--highlight);
  --border-accent: var(--line-width) solid var(--accent);

  /* Ratios */
  --ratio-square: 1/1;
  --ratio-lanscape: 16/9;
  --ratio-portrait: 9/16;
  --ratio-golden: 1.618/1;
}
