html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

:is(li, p) :is(button, a).text {
  padding-left: 0;
  padding-right: 0;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/*// selects for custom elements*/
:where(:not(:defined)) {
  display: block;
}

button,
label {
  cursor: pointer;
}

button:hover,
button:focus {
  transition: 0.1s;
  scale: 1.05;
}

button:active {
  transform: scale(0.95);
}
